package main

import (
	. "fmt"
	. "os"
	. "strings"
	. "math"
	. "strconv"
	. "github.com/tbud/x/Config"
)

func init() {
	//Args = Args[1:]
	_ = Printf
	_ = Exit
	_ = Contains
	_ = Abs
	_ = Atoi
	//_ = Exec
}

func main() {
	Println("hello world")
}
